.parent {
  padding: 0 80;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 36px;
  align-items: center;
  #threeLines {
    display: none;
  }
}
.logo {
  width: 150;
  display: flex;
  align-items: center;
  justify-content: end;
}
.icons {
  display: flex;
  align-items: center;
  gap: 5;
}
.icons :global(svg) {
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}
.icons :global(svg):hover {
  transform: scale(1.5);
  color: aqua;
  font-weight: bold;
}
.language {
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 300;
}

.language:hover {
  transition: transform 0.2s ease;
  transform: scale(1.2);
}

.navLinks {
  display: flex;
  justify-content: space-between;
  min-width: 100;
  max-width: 400;
  margin: auto;
  padding: 50 0 15 0;

  a {
    font-family: "Simplon Norm";
    text-decoration: none;
    color: inherit;
  }
  a:hover {
    color: rgb(115, 190, 190);
    text-decoration: underline;
    transition: transform 0.2s ease;
    transform: scale(1.2);
  }
}

@media (max-width: 768px) {
  .parent {
    padding: 0 20;
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: 10 0 10 0;
    align-items: center;
    #appLogo {
      width: 20;
      height: 20;
    }
  }
  .appLogo_threeLines {
    display: flex;
    align-items: center;
    gap: 2;
    #threeLines {
      display: inline-block;
      width: 40;
      height: 40;
    }
  }
  .logo {
    width: fit-content;
    #logo {
      width: 45;
      height: 15;
    }
  }
  .icons {
    display: flex;
    align-items: center;
    gap: 5;
    #cart {
      display: none;
    }
  }
  .icons :global(svg) {
    cursor: pointer;
  }

  .language {
    display: none;
  }

  .language:hover {
    transition: transform 0.2s ease;
    transform: scale(1.2);
  }

  .navLinks {
    display: none;
  }
}
