.parent {
  padding: 0 80px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 36px;
  align-items: center;
}
.header #threeLines {
  display: none;
}

.logo {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.icons {
  display: flex;
  align-items: center;
  gap: 5px;
}

.icons :global(svg) {
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

.icons :global(svg):hover {
  transform: scale(1.5);
  color: aqua;
  font-weight: bold;
}

.language {
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 300;
}

.language:hover {
  transition: transform 0.2s ease;
  transform: scale(1.2);
}

.navLinks {
  display: flex;
  justify-content: space-between;
  min-width: 100px;
  max-width: 400px;
  margin: auto;
  padding: 50px 0 15px 0;
}

.navLinks a {
  font-family: "Simplon Norm";
  text-decoration: none;
  color: inherit;
}

.navLinks a:hover {
  color: rgb(115, 190, 190);
  text-decoration: underline;
  transition: transform 0.2s ease;
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .parent {
    padding: 0 20px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px 0;
    align-items: center;
  }

  .header #appLogo {
    width: 20px;
    height: 20px;
  }

  .appLogo_threeLines {
    display: flex;
    align-items: center;
    gap: 2px;
  }

  .appLogo_threeLines #threeLines {
    display: inline-block;
    width: 40px;
    height: 40px;
  }

  .logo {
    width: fit-content;
  }

  .logo #logo {
    width: 45px;
    height: 15px;
  }

  .icons {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .icons #cart {
    display: none;
  }

  .icons :global(svg) {
    cursor: pointer;
  }

  .language {
    display: none;
  }

  .language:hover {
    transition: transform 0.2s ease;
    transform: scale(1.2);
  }

  .navLinks {
    display: none;
  }
}
