.parent {
  display: none;
}

.pagePath {
  padding: 10px 20px;
  display: flex;
  gap: 4px;
}

.pagePath .home {
  color: #bfc8cd;
}

.pagePath .shop {
  color: #252020;
}

@media (max-width: 768px) {
  .parent {
    display: inline-block;
  }
}
